@font-face {
  font-family: 'Inter';
  src: url('inter-regular.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Inter';
  src: url('inter-medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'Inter';
  src: url('inter-bold.ttf');
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
}
