@import "colors";

:host {
  background: #FFFFFF;
  box-shadow: 0 0 10px $box-shadow-color;
  z-index: 1;
}

.header-wrapper {
  height: 48px;
}

.content-wrapper {
  height: 100%;
  display: flex;
}

.link-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border: 3px transparent solid;

  &:hover {
    border-bottom: 3px solid $main-color;
    transition: border-bottom 300ms;
  }

  &.active {
    border-bottom: 3px solid $main-color;

    .link-text {
      color: $text-color;
    }
  }
}

.link-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: $secondary-text-color;
}
