<div class="header-wrapper gl-page-content">
  <div class="content-wrapper">

    <a class="link-wrapper" [routerLink]="['/users-list', 'all']" [routerLinkActive]="['active']">
      <div class="link-text">
        Все
      </div>
    </a>

    <a class="link-wrapper" [routerLink]="['/users-list', 'blocked']" [routerLinkActive]="['active']">
      <div class="link-text">
        Заблокированные
      </div>
    </a>

    <a class="link-wrapper" [routerLink]="['/users-list', 'active']" [routerLinkActive]="['active']">
      <div class="link-text">
        Активные
      </div>
    </a>

  </div>
</div>
