@import 'colors';

.gl-main-btn {
  height: 40px;
  width: 180px;
  background-color: $main-color;
  color: #ffffff;
  font-size: 13px;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

.gl-select-arrow {
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    display: inline-block;
    border-top-color: $text-color;
    border-bottom: 0;
  }
}
