@import "colors";
@import "consts";

.gl-page-content {
  margin: 0 auto;
  max-width: 1400px;
  padding-left: $page-content-padding-fl;
  padding-right: $page-content-padding-fl;
}

.gl-gradient-bottom-page {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 44px;
  background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, $layout-background-color 100%);
}

