@import "colors";

.gl-loader-dots {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: 150ms;
  margin: auto;
  width: 24px;
  height: 24px;

  &:not(.mod-show) {
    &, &:before, &:after {
      display: none;
    }
  }

  &, &:before, &:after {
    content: '';
    display: block;
    border-radius: 100%;
    animation-name: flicker;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    background-color: $main-color;
  }

  &:before, &:after {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:before {
    left: -48px;
  }

  &:after {
    right: -48px;
    animation-delay: 300ms;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .05;
  }

  85% {
    opacity: 1;
  }
}
