@import 'consts';
@import 'colors';

.gl-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(63, 51, 86, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: $z-index-modal;
}

.gl-modal-container {
  background-color: #ffffff;
  box-shadow: 0 7px 64px $box-shadow-color;
  border-radius: 12px;
  position: relative;
}

.gl-modal-btn-close {
  width: 42px;
  height: 42px;
  background-image: url('/assets/icons/close-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
