@import 'colors';

.item-list-wrapper {
  padding-left: 16px;
  padding-right: 46px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 10px $box-shadow-color;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}

.left-block, .right-block {
  display: grid;
  grid-gap: 16px;
  align-items: center;
}

.left-block {
  grid-template-columns: min-content auto min-content;
  margin-right: 20px;
}

.right-block {
  grid-template-columns: auto min-content;
}

.avatar {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.full-name-wrapper {
  overflow: hidden;
  width: 150px;

  .full-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.last-updated-wrapper {
  text-align: end;
  color: #a8a8a8;
}
