<div class="item-list-wrapper"
     (click)="openModal($event, user)">

  <div class="left-block">
<!--    Должно быть:-->
<!--    <div class="avatar" [ngStyle]="{'background-image': 'url(http://qwe' + user.avatar + ')'}"></div>-->
    <div class="avatar" [ngStyle]="{'background-image': 'url(' + 'http://vertex-art.ru/wp-content/uploads/portretvizo_.jpg' + ')'}"></div>

    <div class="full-name-wrapper">
      <div class="full-name">{{ user.fname }} {{ user.name[0] }}.{{ user.mname[0] }}.</div>
    </div>

    <div class="balance">{{ user.balance | reduceNumber : 2 }}</div>
  </div>

  <div class="right-block">
    <div class="last-updated-wrapper">
      Последнее изменение: {{ user.lastUpdatedAt | dateOfTimeElapsed }}
    </div>

    <app-select [indexSelected]="user.status" [options]="subscriptionStatuses"></app-select>
  </div>

</div>
