@import 'colors';

.select {
  width: 194px;
  height: 48px;
  font-size: 16px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
}

.option-selected {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 16px;
  position: relative;
  cursor: pointer;
}

.options-wrapper {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 7px 64px $box-shadow-color;
  border-radius: 6px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms, padding 300ms;

  &.mod-open {
    max-height: 200px;
    padding: 8px 0;
  }
}

.option-item {
  width: 100%;
  padding: 8px 16px;
  color: $secondary-text-color;
  cursor: auto;

  &.active {
    color: $text-color;
  }
}
