<div class="select" appClickOutside (clickOutside)="close()">
  <div class="option-selected gl-select-arrow" (click)="toggleOpened()">
    {{ options[indexSelected] }}
  </div>

  <div class="options-wrapper" [class.mod-open]="isOpen$ | async">
    <div class="option-item"
         *ngFor="let option of options; let i = index"
         [class.active]="indexSelected === i">
      {{ option }}
    </div>
  </div>
</div>
