<div class="content-wrapper gl-page-content">
  <div class="list-wrapper">

    <ng-container *ngFor="let user of (usersList$ | async)">
      <app-user-card [user]="user"></app-user-card>
    </ng-container>
  </div>
</div>

<div class="gl-loader-dots" [class.mod-show]="isLoading$ | async"></div>

<ng-container *ngIf="!(isBottomPage$ | async)">
  <div class="gl-gradient-bottom-page"></div>
</ng-container>
