@import 'colors';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content-wrapper {
  flex-grow: 1;
  background-color: $layout-background-color;
}
