<div class="gl-modal-wrapper">
  <div class="gl-modal-container modal-container">
    <div class="modal-header modal-content">
      <div class="header-title">{{ data.fname }} {{ data.name }}</div>
      <button type="button" class="gl-modal-btn-close"></button>
    </div>

    <div class="content-wrapper modal-content">
      <div class="fields-wrapper">
        <div class="field">{{ data.fname }}</div>
        <div class="field">{{ data.name }}</div>
        <div class="field">{{ data.mname }}</div>
        <div class="field mod-select-arrow gl-select-arrow">{{ subscriptionStatuses[data.status] }}</div>
      </div>

      <div class="btn-save-wrapper">
        <div class="gl-main-btn">Сохранить</div>
      </div>
    </div>
  </div>
</div>
