@import 'colors';

.modal-container {
  width: 916px;
}

.modal-content {
  padding: 22px 34px;
}

.modal-header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ecebed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-size: 34px;
  font-weight: bold;
}

.content-wrapper {
  display: flex;
  height: 494px;
  flex-direction: column;
  justify-content: space-between;
}

.fields-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
}

.field {
  display: flex;
  align-items: center;
  padding: 14px 16px;
  font-size: 16px;
  border: 1px solid #ecebed;
  box-shadow: 0 7px 64px $box-shadow-color;
  border-radius: 6px;

  &.mod-select-arrow {
    position: relative;

    &:after {
      right: 16px;
    }
  }
}

.btn-save-wrapper {
  display: flex;
  justify-content: flex-end;
}
